@import 'variables';

h1 {
  pointer-events: none;
  font-size: 62px;
  color: $white;
  z-index: 1;
  
  .gradient {
    @include background-gradient;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    background-clip: text;
  }
}

h2 {
  padding-bottom: 15px;
  position: relative;
  text-align: center;
  font-weight: 700;
  font-size: 52px;
}

h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 0 25px 0;
  font-weight: 400;
  font-size: 24px;
}


section.light {
  h2, h3 {
    color: $dark-grey;
  }
}

section.dark {
  h2, h3 {
    color: $white;
  }
}

.chip {
  
  &:after {
    @include background-gradient;
    left: calc(50% - 25px);
    border-radius: 4px;
    position: absolute;
    content: '';
    height: 7px;
    width: 50px;
    bottom: 3px;
  }
  
  &:hover:after {
  }
}
