@import 'variables';

h1 {
  
}

h2 {
  margin-bottom: 15px;
  position: relative;
  text-align: center;
  font-weight: 700;
  font-size: 52px;
  
  &:after {
    background-image: linear-gradient(to right, $gradient-orange, $gradient-red, $gradient-pink);
    left: calc(50% - 25px);
    border-radius: 4px;
    position: absolute;
    bottom: -12px;
    content: '';
    height: 7px;
    width: 50px;
  }
}

h3 {
  margin: 0 0 25px 0;
  font-weight: 400;
  font-size: 32px;
}


section.light {
  h2, h3 {
    color: $dark-grey;
  }
}

section.dark {
  h2, h3 {
    color: $white;
  }
}
