@import 'reset';
@import 'variables';
@import 'headers';
@import 'section';
@import 'project';
@import 'footer';
@import 'row';
@import 'col';
@import 'ul';
@import 'links';

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400');

body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: $dark-grey;
  font-weight: 300;

  li {
    list-style: none;
  }
}