@import 'media-queries';

.row {
  width: calc(100% - 50px);
  justify-content: center;
  padding: 25px;
  display: flex;
  
  @include width-tablet {
    width: calc(100% - 100px);
    padding: 50px;
  }
  
  @include width-desktop {
    width: calc(100% - 300px);
    padding: 50px 150px;
  }
}