@import 'variables';

section {
  flex-direction: column;
  padding: 50px 0;
  display: flex;
  width: 100%;
  
  &.dark {
    background-color: $dark-grey;
  }
  
  &.light {
    background-image: $white;
  }
}