@import 'variables';

section {
  flex-direction: column;
  padding: 50px 0;
  display: flex;
  width: 100%;
  
  &.dark {
    background-color: $dark-grey;
  }
  
  &.light {
    background-color: $white;
  }
  
  &.landing {
    background-image: url('/assets/images/bg.svg');
    background-position: top left;
    background-size: cover;
    position: relative;
    height: 100vh;
    padding: 0;
      
    .fadein {
      animation-duration: .5s;
      animation-name: animate-fadein;
    }
    
    .fadeout {
      animation-duration: .5s;
      animation-name: animate-fadeout;
    }
  }
  
  &.vertical-center {
    justify-content: center;
  }
}

@keyframes animate-fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes animate-fadeout {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
